@font-face {
    font-family: OpenSans-Regular;
    src: url("fonts/OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("fonts/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 62.5%;
    color: #ffffff;
    font-family: OpenSans-Regular, Tahoma, sans-serif;
}

body {
    margin: 0px;
}

.surface {
    background-image: url("images/football_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #0a0e34;
    height: 100vh;
}

.surface:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0a0e34;
    opacity: 0.9;
}

.surface-container {
    position: relative;
    z-index: 1;
}

.surface-logo {
    display: block;
    background-image: url("svg/surface_logo_text.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 133px;
    height: 36px;
}

.surface-title {
    font-size: 28px;
    font-family: OpenSans-Bold, Tahoma, sans-serif;
    text-transform: uppercase;
}

.store-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.store-button {
    background-color: #5e42b0;
    width: 280px;
    height: 35px;
    border: none;
    border-radius: 16.73px 16.81px 18.19px 17.17px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 8px;
    text-transform: uppercase;
    text-align: left;
}

.store-button:nth-child(even) {
    margin-top: 12px;
}

.store {
    font-family: OpenSans-Bold, Tahoma, sans-serif;
}

.store-icon {
    fill: #ffffff;
    margin-right: 8px;
}

.app-store {
    width: 20px;
    height: 24px;
}

.google-play {
    width: 22px;
    height: 24px;
}